body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  #timer {
    font-size: 48px;
  }

  button {
    padding: 10px 20px;
    border: none;
    background-image: linear-gradient(to right,	#DB4455, #d86464);
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    width: 100px;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(0.95);
  }
  